.services{margin-top: 100px;}
.services .content .swiperSlide{
    margin-top: 60px;
    width: 100%;
    display: flex !important;
    justify-content: space-between;
    align-items: center;
}
.services .content .swiperSlide .box{
    width: 100%;
    color: var(--black);
    border: 1px solid #d0d0d0;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 5px;
    line-height: 1.2;
    border-radius: 5px;
}
.services .swiper-button-prev ,.services .swiper-button-next{
    background-color:#367d99;
    color: white;
    margin-top: 0 !important;
    transform: translateY(25%);
    font-size: 15px;
    text-align: center;
}
.services .content .swiper-button-prev{left: 0;}
.services .content .swiper-button-next{right: 0;}
.services .content .swiperSlide .box-s{
    background-color:#89cbeb;
    color: white;
}
.services .content .swiperSlide .box .icon{font-size: 60px;}
.services .content .swiperSlide .box p{font-size:18px;}