.about{
    background-color: #f0faff;
    margin-top: 100px;
    margin-bottom: 0 !important;
}
.about .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
}
.about .image,.about .text{width: 49%;}
.about .image img{width: 100%;}
.about .text h1{font-size: 45px;}
.about .text h1 span:first-of-type{color: var(--blue);}
.about .text a{
    color: black;
    height: fit-content;
    display: flex;
    align-items: center;
}
.about .text a span:last-of-type{
    font-size: 20px;
    margin-top: 6px;
    margin-left: 15px;
}
@media (max-width:992px){
    .about .container{flex-direction: column;}
    .about .image,.about .text{width: 100%;}
}