@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root{
  --blue:#addaed;
  --black:#181919;
}
html{scroll-behavior: smooth;}
body {
  margin: 0;
  font-family: 'Cairo', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box !important;
}
code {font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',monospace;}
ul{
  list-style: none;
  padding-left: 0;
}
a{text-decoration: none;}
.container{
  width: 70%;
  margin: auto;
}
.head{
  line-height: 1;
  text-align: center;
}
.head h1{font-size: 60px;}
.head h1 span{color: var(--blue);}
.head p{
  font-size: 16px;
  letter-spacing: 1px;
}
@media (max-width:1200px){.container{width: 95%;}}